.question {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #388697;
    font-family: "Poppins";
}

.single_question {
    width: 95%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
}

.options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.singleOption {
    width: 46%;
    height: 50px;
    margin: 10px;
    border: 0;
    background-color: #FA8334;
    font-family: "Poppins";
    font-size: 14px;
}

@media (max-width: 614px) {
    .singleOption {
        width: 100%;
    }
}

.select {
    background-color: rgb(7, 207, 0);
    color: white;
    box-shadow: 0 0 1px grey;
}

.wrong {
    background-color: rgb(233, 0, 0);
    color: white;
    box-shadow: 0 0 1px grey;
}